@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    Spotichelas is a playlist manager, using Spotify API for both database and music player.
    Main project of Internet Programming classe for Licenciatura de informática e Computadores at Instituto de Engenharia de Lisboa.
    Created solely for practice of MVC 3 Razor Engine, MVC pattern and C# library for web applications.
    It also uses Gravatar API for default profile picture, JSON.NET library for JSON interpretation and
    Entity Framework for domain model.

    Written mostly on C#, source code is private, any requests are subject to confirmation.
    Petitions can be sent to andrebenjamimcunha@hotmail.com

    Authors:
</p>
 <ul>
     <li>André Cunha</li>
     <li>Pedro Baptista</li>
     <li>Daniel Martins</li>
 </ul>

