@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @User.Identity.Name you have access to the following areas
</p>
<ul>
    <li> Your Control Panel - in construction -</li>
    <li> Your @Html.ActionLink("Playlists","List","Playlist")</li>
    <li> Our @Html.ActionLink("Search Engine","Index","Search")</li>
</ul>
